# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_test_TFcKe8jOJt3VJ8
RAZORPAY_KEY_SECRET=47jtfnA2rGxhl6OuybhF4jmC

# Hostinger SMTP Credentials
EMAIL_HOST=smtp.hostinger.com
EMAIL_PORT=465
EMAIL_USER=hello@thedesignshop.studio
EMAIL_PASS=your_email_password_here

# Admin Notification Configuration (Where admin emails are sent)
ADMIN_NOTIFY_EMAIL=hello@thedesignshop.studio